html {
    overflow: hidden;
}
body {
    background-image: linear-gradient(to top right, #2E0C67, #8B0269, #CB345D, #FFB54D);
    margin: 0;
    overflow: hidden;
    font-family: "Press Start 2P", monospace;
    text-align: center;
    line-height: 1.5;
}

#intro-slider {
   --pos: 0;
   display: flex;
   align-items: stretch;
   height: 100%;
   width: 400%;
   transform: translate(calc(var(--pos)*-25%));
   transition: transform .7s ease-out;
}

.intro-slide-comp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    width: 25%;
    opacity: 0;
    transition: opacity .5s ease-out;
}

.intro-slide-title {
    font-weight: bold;
    font-size: 3em;
    padding-right: 40px;
    padding-left: 40px;
}

.intro-slide-content {
    font-size: 2em;
    font-family: monospace;
    padding-right: 40px;
    padding-left: 40px;
}

.intro-slide-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;space-around;
}

#stats-slider {
   --pos: 0;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   height: 200%;
   width: 100%;
   transform: translate(0,calc(var(--pos)*-50%));
   transition: transform .7s ease-out;
}

.stats-slide-comp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    opacity: 0;
    transition: opacity .5s ease-out;
}

.stats-slide-title {
    font-weight: bold;
    font-size: 3em;
}

.stats-slide-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    font-size: 1.5em;
}

.stats-pie-title {
    font-size: 1em;
}

.stats-pie-contain {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.stats-pie-chart {
    --diameter: 25vw;
    width: var(--diameter);
    min-height: var(--diameter);
    border-radius: 50%;
    align-self: center;
    display: inline-block;
    --percent: 45;
    --angle: calc(360deg*var(--percent)/100);
    background-image: conic-gradient(#b3002e 0deg var(--angle), #25051b var(--angle));
    box-shadow: 0 0 20px;
    margin: 30px;
}

#split-global {
    --percent: var(--split-global);
}

#write-global {
    --percent: var(--write-global);
}

#split-person {
    --percent: var(--split-person);
}

#write-person {
    --percent: var(--write-person);
}

.stats-slide-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.crazy-btn {
    border-width: 10px;
    border-color: #666666 #222222 #222222 #666666;
    color: black;
    background-image: linear-gradient(to top right, #2E0C67, #8B0269, #CB345D, #FFB54D);
    font-size: 2em;
    font-family: "Press Start 2P", monospace;
    box-shadow: 10px 10px;
    padding: 10px 20px 10px 20px;
}

#submit-btn {
    font-size: 4em;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start; space-around;
}

#split-line {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 20vh;
}

.split-word, #unsplit, .written-word, #unwritten {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}



#unsplit-labels, #unwritten-labels {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: flex-end;
    justify-content: space-around;
}

.split-word-label, .unsplit-label, .written-word-label, .unwritten-label {
    color: #000022;
    font-size: 1em;
}

.unsplit-label:first-child, .unwritten-label:first-child {
    color: #000000;
    font-size: 2.5em;
}

.unsplit-label:last-child {
    color: #000022;
    font-size: 1em;
}

.hw-cvs {
    height: 200px;
    border: 1px solid #000000;
    background-color: #E6C4DA;

}

#write-line {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;space-around;
    margin-top: 5vh;
}

.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input[type=range] {
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}

.nav-btn {
    font-size: 1em;
    border-width: 2px;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* tutorial */

#tut-box {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 80vw;
    padding: 20px;
    background-image: linear-gradient(to top right, #2E0C67, #8B0269, #CB345D, #FFB54D);
    box-shadow: 10px 10px 10px;
    border: 5px solid black;
    transition: left 1s, top 1s;
}

#shade {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.7;
}

#tut-content {
    font-size: 1em;
    margin-right: 20px;
    margin-left: 20px;
}

