{% extends 'base.html' %}
{% block title %}
Intro
{% endblock %}

{% block body %}

<div id="intro-slider">
    <div id="sc0" class="intro-slide-comp">
        <div class="intro-slide-title">
            Hallo!
        </div>
        <div class="intro-slide-content">
            Du willst dem Roboter Scribus helfen, Handschrift zu lernen?
            <br><br>
            Großartig! Lass uns gleich herausfinden, wie das geht!
        </div>
        <div class="intro-slide-buttons">
            <button class="crazy-btn intro-slide-next-btn">Lets go!</button>
        </div>
    </div>
    <div id="sc1" class="intro-slide-comp">
        <div class="intro-slide-title">
            Wie lernt ein Roboter Handschrift?
        </div>
        <div class="intro-slide-content">
            In Scribus soll eine KI eingebaut werden, die aus jedem beliebigen Text Handschrift generieren kann.
            <br><br>
            Um die KI zu trainieren, werden viele Handschriftbeispiele benötigt, aus denen die KI dann ihr eigenes Verständnis für Handschrift entwickeln soll.
        </div>
        <div class="intro-slide-buttons">
            <button class="crazy-btn intro-slide-prev-btn"><</button>
            <button class="crazy-btn intro-slide-next-btn">Weiter></button>
        </div>
    </div>
    <div id="sc2" class="intro-slide-comp">
        <div class="intro-slide-title">
            Wir brauchen Handschriftdaten!
        </div>
        <div class="intro-slide-content">
            Dafür werden wir die Handschriftzeilen eines etwas älteren Handschriftdatensatzes in einzelne Wörter zerteilen. (Die KI soll mit einzelnen Wörtern trainiert werden)
            <br><br>
            Zusätzlich werden wir einen völlig neuen Handschriftdatensatz erstellen, der qualitativ besser sein wird, als der alte Datensatz. So können die Ergebnisse der KI stark verbessert werden.
        </div>
        <div class="intro-slide-buttons">
            <button class="crazy-btn intro-slide-prev-btn"><</button>
            <button class="crazy-btn intro-slide-next-btn">Weiter></button>
        </div>
    </div>
    <div id="sc3" class="intro-slide-comp">
        <div class="intro-slide-title">
            Dein Moodle-Benutzername
        </div>
        <div class="intro-slide-content">
            Damit deine Handschrift nicht mit der von anderen Personen vermischt wird, musst du deinen Moodle-Benutzernamen angeben. (wird anonymisiert und abgemeldet, wenn du das Fenster schließt)
            <br><br>
            <input id="login-input" type="text">
            <br><br>
            <span style="font-size:0.5em;">Du musst kein Passwort angeben, damit du dein Passwort nicht an diese ungesicherte Website geben musst. Du könntest also auch einfach den Benutzernamen einer anderen Person angeben und so deine Handschrift unter ihrem Namen in den Datensatz eingehen lassen. Das würde die Struktur des Datensatzes und damit Stundenlange Arbeit vieler Menschen zunichtemachen. Handle Verantwortungsvoll!</span>        </div>
        <div class="intro-slide-buttons">
            <button class="crazy-btn intro-slide-prev-btn"><</button>
            <button id="login-btn" class="crazy-btn">Kann Losgehen!</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scriptsource %}
{% load static %}
{% static 'intro/intro.js' %}
{% endblock %}