{% extends 'base.html' %}
{% block title %}
Split
{% endblock %}

{% block body %}
<div id="container">
    <div id="nav">
        <button id="tostats" class="crazy-btn nav-btn">&#60;Fortschritt Ansehen</button>
        <button id="tutorial" class="crazy-btn nav-btn">Tutorial</button>
    </div>
    <div id="split-line">

    </div>
    <div class="control" id="split-control">

        <button id="undo-btn" class="crazy-btn">Strg+Z</button>
        <button id="submit-btn" class="crazy-btn">Fertig</button>
        <button id="reject-btn" class="crazy-btn">>>></button>
    </div>
</div>

{% endblock %}

{% block scriptsource %}
{% load static %}
{% static 'split/split.js' %}
{% endblock %}

<!--
    <div class="word">
        <div class="word-label">one some more text and what if even more text has to be displayed, eh?</div>
        <canvas class="hw-cvs" width="200" height="100"></canvas>
    </div>
    <div class="word">
        <div class="word-label">two</div>
        <canvas class="hw-cvs" width="200" height="100"></canvas>
    </div>
    <div id="unsplit">
        <div id="unsplit-labels">
            <div class="unsplit-label"></div>
            <div class="unsplit-label"></div>
            <div class="unsplit-label"></div>
            <div class="unsplit-label"></div>
        </div>
        <canvas class="hw-cvs" width="200" height="100"></canvas>
    </div>-->